# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\minio_java\minio_java_springboot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target
